@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #2563EB;
    --color-primary-hover: #1D4ED8;
    --color-background: #ffffff;
    --color-surface: #f8fafc;
    --color-text-main: #0f172a;
    --color-text-muted: #64748b;

    /* Dark Mode Colors */
    --color-dark-background: #0B0C15;
    --color-dark-surface: #151725;
    --color-dark-text-main: #ffffff;
    --color-dark-text-muted: #94A3B8;
}

:root {
    /* Default Light Mode */
    --background: var(--color-background);
    --surface: var(--color-surface);
    --text-main: var(--color-text-main);
    --text-muted: var(--color-text-muted);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--color-dark-background);
        --surface: var(--color-dark-surface);
        --text-main: var(--color-dark-text-main);
        --text-muted: var(--color-dark-text-muted);
    }
}

.dark {
    --background: var(--color-dark-background);
    --surface: var(--color-dark-surface);
    --text-main: var(--color-dark-text-main);
    --text-muted: var(--color-dark-text-muted);
}

body {
    background-color: var(--background);
    color: var(--text-main);
    transition: background-color 0.3s, color 0.3s;
}